<header>
    <div class="image-wrapper">
        @for (item of images; track $index) {
        @if ($index === 0) {
        <img class="active" [src]="item" alt="Wykonana budowla nr. {{$index + 1}}">
        }
        @else {
        <img class [src]="item" loading="lazy" alt="Wykonana budowla nr. {{$index + 1}}">
        }
        }

        <div class="text">
            <h1>
                <span>MLKA </span>
                <span>{{ text }}</span>
            </h1>
        </div>

        <div class="image-switches">
            @for (item of images; track $index) {
            @if ($index === 0) {
            <span [className]="'switch-' + $index + ' active'" (click)="switchImage($event)">
                <div></div>
            </span>
            }
            @else {
            <span [className]="'switch-' + $index" (click)="switchImage($event)">
                <div></div>
            </span>
            }
            }
        </div>
    </div>
</header>
