.not-found {
    margin: 60px auto;
    text-align: center;

    .code {
        margin-bottom: 40px;
        font-weight: 200;
        font-size: 5rem;
    }

    .info {
        margin-bottom: 20px;
        font-weight: 600;
        color: rgb(77, 77, 77);
    }

    .text {
        margin-bottom: 15px;
        color: rgb(112, 112, 112);
    }

    .text:last-of-type {
        margin-bottom: 25px;
    }

    a {
        color: rgb(70, 70, 234);

        &:hover {
            text-decoration: underline;
        }
    }

    .company {
        margin-top: 60px;
        margin-bottom: 25px;
        font-weight: 300;
        font-size: 1.4rem;
        color: rgb(144, 144, 144);

        span:nth-of-type(2) {
            margin: 0 15px;
        }

        a {
            color: rgb(144, 144, 144);
        }
    }

    .logo {
        img {
            width: 80px;
        }
    }
}
