<div class="not-found">
    <p class="code">404</p>
    <p class="info">Nie odnaleziono strony</p>
    <p class="text">Adres który został wprowadzony jest nieprawidłowy.</p>
    <!-- <p class="text">Niestety adres który chcesz wyszukać jest niedostępny.</p> -->
    <p class="text">Sprawdź poprawność adresu i spróbuj ponownie.</p>
    <a href="">Strona główna</a>
    <div class="company">
        <span>MLKA Sp. z o.o.</span><span>—</span><span><a href="mailto:biuro@mlka.eu">biuro&#64;mlka.eu</a></span>
    </div>
    <div class="logo">
        <img src="./assets/images/logo.png" alt="">
    </div>
</div>
