<footer>
    <div class="footer-wrapper">
        <div class="logo">
            <div class="image-wrapper">
                <img src="./assets/images/logo.png" alt="logo">
            </div>
        </div>
        <div class="contact-info">
            <p>KONTAKT</p>
            <a href="tel:+48788822691" target="_blank" class="phone">
                <i class="fa-solid fa-phone"></i>
                <p>788822691</p>
            </a>
            <a href="mailto:wojtasik.a052@gmail.com" target="_blank" class="email">
                <i class="fa-solid fa-envelope"></i>
                <p>BIURO&#64;MLKA.EU</p>
            </a>
            <a href="https://maps.app.goo.gl/2CnQhjBwE45QPWsa6" target="_blank" class="address">
                <i class="fa-solid fa-location-dot"></i>
                <p>Ostrów Wlkp. ul. Czerwonych Kosynierów 14</p>
            </a>
        </div>
        <div class="navigation">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2475.3825578415745!2d17.78059137708573!3d51.65283180006822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ab50415896c77%3A0x8e157dd97809860b!2sCzerwonych%20Kosynier%C3%B3w%2014%2C%2063-400%20Ostr%C3%B3w%20Wielkopolski!5e0!3m2!1spl!2spl!4v1718817817808!5m2!1spl!2spl"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="company">
        <span>© MLKA Sp. z o.o.</span><span>·</span><span><a routerLink="polityka-prywatnosci">Polityka
                prywatności</a></span>
    </div>
</footer>
