@import 'vars';

footer {

    .footer-wrapper {
        position: relative;
        overflow-x: hidden;
        display: flex;
        justify-content: space-around;
        padding: 20px 20px;
        background-color: var(--bgc-third);

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            translate: -50% -50%;
            width: 20%;
            height: 1px;
            border-radius: 50px;
            background-color: var(--bgc);
        }

        .logo {
            .image-wrapper {
                width: 120px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .contact-info {
            display: flex;
            flex-direction: column;
            margin-left: 20px;

            &>p {
                margin-bottom: 20px;
                color: var(--font-color-second);
                font-weight: 500;
                font-size: 2rem;
            }


            a {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                color: var(--font-color-second);

                i {
                    width: 30px;
                    translate: 0 -1px;
                    text-align: center;
                    font-size: 2.5rem;
                    color: var(--font-color);
                }

                p {
                    margin-left: 25px;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1.4rem;
                }
            }

            a:last-of-type {
                margin-bottom: 0;
            }
        }

        .navigation {
            margin-left: 60px;

            iframe {
                width: 220px;
                height: 170px;
                border: none;
                border-radius: 20px;
            }
        }
    }

    .company {
        padding: 15px 0;
        text-align: center;
        font-size: 1.4rem;
        background-color: var(--bgc-third);
        color: var(--font-color-second);

        span:nth-of-type(2) {
            margin: 0 15px;
        }

        a {
            color: var(--font-color-second);

            &:hover {
                text-decoration: underline;
            }
        }
    }

    footer.disable {
        display: none;
    }
}
