@import 'vars';

.nav-block {
    height: var(--nav-height);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--nav-height);
    background-color: var(--bgc);
    z-index: 100;

    .hamburger {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: right;
        width: 25px;
        height: 25px;
        padding: 5px;
        margin-right: 15px;
        cursor: pointer;

        span {
            position: relative;
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 50px;
            background-color: var(--font-color-second);
            transition: .5s 0s;
        }

        span:nth-of-type(2) {
            width: 65%;
            transition: .3s .2s;
        }
    }

    .hamburger.active {

        span:nth-of-type(1) {
            transform: rotate(45deg);
            translate: 0 9px;
            transition: .5s .2s;
        }

        span:nth-of-type(2) {
            width: 1%;
            transition: .3s 0s;
        }

        span:nth-of-type(3) {
            transform: rotate(-45deg);
            translate: 0 -8px;
            transition: .5s .2s;
        }


    }


    .logo {
        height: 90%;
        padding: 10px 15px 10px 25px;
        // margin-left: 10px;
        box-sizing: border-box;
        cursor: pointer;
        z-index: 1;

        img {
            height: 100%;
        }
    }

    .nav-buttons {
        display: none;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        color: var(--font-color-second);

        ul {
            display: flex;
            justify-content: center;
            user-select: none;

            li {
                position: relative;
                padding: 7px 15px;
                margin-left: 5px;
                border: solid 2px transparent;
                border-radius: 50px;
                cursor: pointer;
                transition: .2s;


                &:hover {
                    border: solid 2px var(--bgc-fifth);
                    transition: .4s;

                    span {
                        font-weight: 700;
                    }
                }


                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    translate: -50% -50%;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: font-weight .3s;
                    font-weight: 500;
                }

                &::before {
                    content: "siema";
                    color: transparent;
                }
            }

            li.btn-clean::before {
                content: "CZYSTE POWIETRZE";
            }

            li.btn-about::before {
                content: "O NAS";
            }

            li.btn-real::before {
                content: "REALIZACJE";
            }

            li.btn-akt::before {
                content: "AKTUALNOŚCI";
            }

            li.btn-contact::before {
                content: "KONTAKT";
            }
        }
    }
}

@media (min-width: 1000px) {
    nav {

        .hamburger {
            display: none;
        }

        .nav-buttons {
            display: block;
        }
    }
}
