:host {
  --bgc: #DFE0DC;
  --bgc-second: #D1D8BD;
  --bgc-third: #C7C2AB;
  --bgc-fourth: #777E5C;
  --bgc-fifth: #283106;

  --font-color: black;
  --font-color-second: white;

  --font: "Montserrat", "system-ui", "Verdana", "Helvetica";
  --font-header: "Montserrat", "system-ui", "Verdana", "Helvetica";

  --nav-height: 75px;
}
